*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/libraries
/.idea/copyright
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runCOnfigurations.xml
/.idea/vcs.xml
gradle.properties
gradlew
gradlew.bat
sh.exe.stackdump
